.IncidentTrackingApp-cover {
  background: #f2f2f2;
  margin-bottom: -2px; /* hack to solve a ghost line issue */
}

.IncidentTrackingApp-flowchart {
  background: #f2f2f2;
  margin-top: 100px;
  margin-bottom: -2px; /* hack to solve a ghost line issue */
}

.IncidentTrackingApp-badge {
  box-shadow: 0px 6px 20px 0px #bbbbbb;
}
