.Home-container {
  background: url(./Stars.svg) no-repeat center, linear-gradient(#e66465, #9198e5);
  background-size: cover;
  margin-bottom: -2px; /* hack to solve a ghost line issue */
}

.Home-white-color {
  color: #f2f2f2;
}

.Home-genie {
  animation: Home-genie-bounce-up 3s ease-in-out infinite;
  width: 100%;
}

.Home-project-cards {
  cursor: pointer;
}

@keyframes Home-genie-bounce-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(32px);
  }
  100% {
    transform: translateY(0);
  }
}
